<header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img src="~/asset/images/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
            <!-- 登录按钮 -->
            <div class="nav-item d-none d-md-flex me-3" id="sign_in_btn">
                <a asp-page="SignIn" class="btn btn-ghost-dark w-100">
                    登录
                </a>
            </div>
            <!-- 注册按钮 -->
            <div class="nav-item d-none d-md-flex" id="sign_up_btn">
                <a asp-page="SignUp" class="btn btn-primary">
                    <img src="~/asset/images/sing_in.svg" class="icon text-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    注册
                </a>
            </div>
            <!-- 角色信息1：通知 -->
            <div id="userinfo1" class="nav-item dropdown d-none d-md-flex me-3">
                <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                    <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path><path d="M9 17v1a3 3 0 0 0 6 0v-1"></path></svg>
                    <span class="badge bg-red"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                    <div class="card">
                        <div class="card-body">
                            欢迎浏览小站
                        </div>
                    </div>
                </div>
            </div>
            <!-- 角色信息2：详情 -->
            <div id="userinfo2" class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                    <span class="avatar avatar-sm" style="background-image: url(../../wwwroot/asset/images/profiles/000m.jpg)">
                    </span>
                    <div class="d-none d-xl-block ps-2">
                        <div id="email"></div>
                        <div id="password" class="mt-1 small text-muted"></div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a asp-page="Index" class="dropdown-item" onclick="clearCookies()">退出登录</a>
                </div>
            </div>
        </div>
    </div>
</header>


<script>
    var useremail = getCookie("useremail");
    var userpassword = getCookie("userpassword");
    if (useremail == "") {
        document.getElementById("userinfo1").remove();
        document.getElementById("userinfo2").remove();
    }
    else{
        document.getElementById("email").innerHTML = useremail;
        document.getElementById("password").innerHTML = userpassword;

        document.getElementById("sign_up_btn").remove();
        document.getElementById("sign_in_btn").remove();
    }
</script>