<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tabler</title>
    <link rel="stylesheet" href=@("https://unpkg.com/@tabler/core@1.0.0-beta3/dist/css/tabler.min.css")>
    <script src="~/js/site.js"></script>
</head>
<body>
    @if (ViewData["NoHeader"] == null)
    {
        <partial name="_Header" />
        <partial name="_Navigation" />
    }
    @RenderBody()
    @if (ViewData["NoFooter"] == null)
    {
        <partial name="_Footer" />
    }
    <script src=@("https://unpkg.com/@tabler/core@1.0.0-beta3/dist/js/tabler.min.js")></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>