@page
@model Tabler.Pages.SignModel
@{
    ViewData["Title"] = "Sign page";
    ViewData["NeedHeader"] = false;
    ViewData["NeedFooter"] = false;
    if (Model.Email != "Please enter your email address"){
        <script>
            document.cookie = "useremail=@Model.Email";
            document.cookie = "userpassword=@Model.Password";
        </script>
        <meta http-equiv="refresh" content="0;url=Index">
    }
}

<div class="container-tight py-4">
    <div class="text-center mb-4">
        <a href="."><img src="~/asset/images/logo.svg" height="36" alt=""></a>
    </div>
    <form method="post">
        <div class="card card-md">
            <div class="card-body text-center py-4 p-sm-5">
                <img src="~/asset/images/sign_up_background.svg" height="128" class="mb-n2" alt="">
                <h1 class="mt-5">Welcome to Tabler!</h1>
                <p class="text-muted">Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again.</p>
            </div>
            <div class="hr-text hr-text-center hr-text-spaceless">your data</div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    @if (string.IsNullOrWhiteSpace(Model.errorMassage)){
                        <input type="text" class="form-control" autocomplete="on" name="Email" value="@Model.Email" onfocus="if(value=='Please enter your email address') {value=''}">
                    }
                    else{
                        <input type="text" class="form-control is-invalid" placeholder="Invalid State.." autocomplete="on" name="Email" value="@Model.Email" onfocus="if(value=='Please enter your email address') {value=''}">
                        <div class="invalid-feedback">@Model.errorMassage</div>
                    }
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="text" class="form-control" autocomplete="on" name="Password" value="@Model.Password" onfocus="if(value=='Please enter your password') {value=''}">
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            @if(Model.isWaiting){
                <div class="col-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                    </div>
                </div>
            }
            <div class="col">
                <div class="btn-list justify-content-end">
                    <a asp-page="Index" class="btn btn-link link-secondary">
                        Set up later
                    </a>
                    <button class="btn btn-primary" type="submit" asp-page-handler="SignIn">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>