@page
@model Tabler.Pages.TypographyModel
@{
    ViewData["Title"] = "Typography page";
    ViewData["NeedHeader"] = true;
    ViewData["NeedFooter"] = true;
}

<div class="page-body">
    <div class="container-xl">
        <div class="card card-lg">
            <div class="card-body ">
                <div class="row g-4">

                </div>
            </div>
        </div>
    </div>
</div>